<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/style.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/_media.css" rel="stylesheet" />
    <link href="~/Css/_stretched-link.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
